include ../nav.pug
.d-flex.flex-wrap.flex-lg-nowrap
  main.main.flex-row.flex-lg-column.main-content.mt-4.mt-lg-6.pb-6.mx-auto.px-3.md-order-1
    .clearfix
      nav(aria-label="Breadcrumb")
        ol
          li.breadcrumb-item.text-small
            a(href="/") Insight-ui
          li.breadcrumb-item.text-small
            span &nbsp;
            a(href="/support") Utilities(工具类名)
          li.breadcrumb-item.text-small.breadcrumb-item-selected &nbsp;Margin
      h2.f00-light.border-0.pb-3.d-block.v-align-middle.mt-2 Margin
      .markdown-body
        p Margin 工具类名基于全局空间比例, 这样可以帮助我们保持水平和垂直的空间一致性. 这些工具类名帮助我们大量的减少了使用相同的属性的 CSS 代码, 并且允许我们实现许多不同的页面布局使用相同的风格.
        ul
          li
            a(href="#") 命名规则
          li
            a(href="#") 一致边距
          li
            a(href="#") 方向边距
          li
            a(href="#") 居中元素
          li
            a(href="#") 重置边距
          li
            a(href="#") 响应式边距
          li
            a(href="#") 负值边距
        h2
          a.anchor(href="#naming-convention" id="naming-convention" aria-hidden="true")
            include ../octicons/octicon-link.svg
          span 命名规则
        p 因为 margin 工具类名用在不同的地方有许多变化, 我们使用简写命名约定来帮助我们保持类名简洁.
        table
          thead
            tr
              th 缩写
              th 说明
          tbody
            tr
              td m
              td margin
            tr
              td t
              td top
            tr
              td r
              td right
            tr
              td b
              td bottom
            tr
              td l
              td left
            tr
              td x
              td 水平, left 和 right
            tr
              td y
              td 垂直, top 和 bottom
            tr
              td 0
              td 0px
            tr
              td 1
              td 4px
            tr
              td 2
              td 8px
            tr
              td 3
              td 16px
            tr
              td 4
              td 24px
            tr
              td 5
              td 32px
            tr
              td 6
              td 40px
        p
          em Note: 例子中的蓝色部分代表元素, 橘黄色部分代表边距
        h2
          a.anchor(href="#uniform-margins" id="uniform-margins" aria-hidden="true")
            include ../octicons/octicon-link.svg
          span 一致边距
        p 使用一致边距工具类名来给一个元素的四周赋予相同的边距. 这些工具类名可以改变或者是覆盖默认边距, 可以使用空间比例从 0-6.
      .mt-3.position-relative.clearfix.p-3.styleguide-example.border.border-gray-light
        .margin-orange.d-inline-block
          .d-inline-block.block-blue.m-0 .m-0
        span &nbsp;
        .margin-orange.d-inline-block
          .d-inline-block.block-blue.m-1 .m-1
        span &nbsp;
        .margin-orange.d-inline-block
          .d-inline-block.block-blue.m-2 .m-2
        span &nbsp;
        .margin-orange.d-inline-block
          .d-inline-block.block-blue.m-3 .m-3
        span &nbsp;
        .margin-orange.d-inline-block
          .d-inline-block.block-blue.m-4 .m-4
        span &nbsp;
        .margin-orange.d-inline-block
          .d-inline-block.block-blue.m-5 .m-5
        span &nbsp;
        .margin-orange.d-inline-block
          .d-inline-block.block-blue.m-6 .m-6
      .markdown-body.mb-3.position-relative
        .js-zeroclipboard-target
          pre.hightlight-html.highlight
            code
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;margin-orange d-inline-block&quot;
              span.nt &gt;
              span &#xA;&nbsp;&nbsp;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;d-inline-block block-blue m-0&quot;
              span.nt &gt;
              | .m-0
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;margin-orange d-inline-block&quot;
              span.nt &gt;
              span &#xA;&nbsp;&nbsp;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;d-inline-block block-blue m-1&quot;
              span.nt &gt;
              | .m-1
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;margin-orange d-inline-block&quot;
              span.nt &gt;
              span &#xA;&nbsp;&nbsp;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;d-inline-block block-blue m-2&quot;
              span.nt &gt;
              | .m-2
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;margin-orange d-inline-block&quot;
              span.nt &gt;
              span &#xA;&nbsp;&nbsp;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;d-inline-block block-blue m-3&quot;
              span.nt &gt;
              | .m-3
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;margin-orange d-inline-block&quot;
              span.nt &gt;
              span &#xA;&nbsp;&nbsp;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;d-inline-block block-blue m-4&quot;
              span.nt &gt;
              | .m-4
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;margin-orange d-inline-block&quot;
              span.nt &gt;
              span &#xA;&nbsp;&nbsp;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;d-inline-block block-blue m-5&quot;
              span.nt &gt;
              | .m-5
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;margin-orange d-inline-block&quot;
              span.nt &gt;
              span &#xA;&nbsp;&nbsp;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;d-inline-block block-blue m-6&quot;
              span.nt &gt;
              | .m-6
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;/div&gt;
      .markdown-body
        h2
          a.anchor(href="" id="directional-margins" aria-hidden="true")
            include ../octicons/octicon-link.svg
          span 方向边距
        p 使用方向边距来给元素单独的一面或者是 x轴 和 y轴 赋予边距. 方向边距可以改变或者是覆盖默认边距, 可以使用空间比例从 0-6.
      .mt-3.position-relative.clearfix.p-3.styleguide-example.border.border-gray-light
        .margin-orange.d-inline-block
          .d-inline-block.block-blue.mt-3 .mt-3
        span &nbsp;
        .margin-orange.d-inline-block
          .d-inline-block.block-blue.mr-3 .mr-3
        span &nbsp;
        .margin-orange.d-inline-block
          .d-inline-block.block-blue.mb-3 .mb-3
        span &nbsp;
        .margin-orange.d-inline-block
          .d-inline-block.block-blue.ml-3 .ml-3
        span &nbsp;
        .margin-orange.d-inline-block
          .d-inline-block.block-blue.my-3 .my-3
        span &nbsp;
        .margin-orange.d-inline-block
          .d-inline-block.block-blue.mx-3 .mx-3
      .markdown-body.mb-3.position-relative
        .js-zeroclipboard-target
          pre.highlight-html.highlight
            code
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;margin-orange d-inline-block&quot;
              span.nt &gt;
              span &#xA;&nbsp;&nbsp;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;d-inline-block block-blue mt-3&quot;
              span.nt &gt;
              | .mt-3
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;margin-orange d-inline-block&quot;
              span.nt &gt;
              span &#xA;&nbsp;&nbsp;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;d-inline-block block-blue mr-3&quot;
              span.nt &gt;
              | .mr-3
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;margin-orange d-inline-block&quot;
              span.nt &gt;
              span &#xA;&nbsp;&nbsp;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;d-inline-block block-blue mb-3&quot;
              span.nt &gt;
              | .mb-3
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;margin-orange d-inline-block&quot;
              span.nt &gt;
              span &#xA;&nbsp;&nbsp;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;d-inline-block block-blue ml-3&quot;
              span.nt &gt;
              | .ml-3
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;margin-orange d-inline-block&quot;
              span.nt &gt;
              span &#xA;&nbsp;&nbsp;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;d-inline-block block-blue my-3&quot;
              span.nt &gt;
              | .my-3
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;margin-orange d-inline-block&quot;
              span.nt &gt;
              span &#xA;&nbsp;&nbsp;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;d-inline-block block-blue mx-3&quot;
              span.nt &gt;
              | .mx-3
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;/div&gt;
      .markdown-body
        h2
          a.anchor(href="#" id="center-element" aria-hidden="true")
            include ../octicons/octicon-link.svg
          span 居中元素
        p 使用
          code mx-auto
          span 来居中一个设置了宽度的块元素.
      .mt-3.position-relative.clearfix.p-3.styleguide-example.border.border-gray-light
        .margin-orange
          .block-blue.mx-auto.text-center(style="width: 5em") .mx-auto
      .markdown-body.mb-3.position-relative
        .jszeroclipboard-target
          pre.highlight-html.highlight
            code
              span.nt &lt;div
              span.na &nbsp;&nbsp;class=
              span.s &quot;margin-orange&quot;
              span.nt &gt;
              span &#xA;&nbsp;&nbsp;
              span.nt &lt;div
              span.na &nbsp;&nbsp;class=
              span.s &quot;block-blue mx-auto text-center&quot;
              span.na style=
              span.s &quot;width: 5rem;&quot;
              span.nt &gt;
              | .mx-auto
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;/div&gt;
      .markdown-body.mb-3.position-relative
        h2
          a.anchor(href="#reset-margins" id="reset-margins")
            include ../octicons/octicon-link.svg
          span 重置 margin
        p 
          span 用&nbsp;
          code m-0
          span ,&nbsp;
          code mt-0
          span ,&nbsp;
          code mr-0
          span ,&nbsp;
          code mb-0
          span ,&nbsp;
          code ml-0
          span ,&nbsp;
          code mx-0
          span ,&nbsp;
          code my-0
          span &nbsp;重置排版元素或者是其他组件的内置 margin.
      .mt-3.position-relative.clearfix.p-3.styleguide-example.border.border-gray-light
        p.mb-0.block-blue No bottom margin on this paragraph.
      .markdown-body.mb-3.position-relative
        .js-zeroclipboard-target
          pre.highlight-heml.highlight
            code
              span.nt &lt;p
              span.na &nbsp;class=
              span.s &quot;mb-0 block-blue&quot;
              span.nt &gt;
              | No bottom margin on this paragraph.
              span.nt &lt;/p&gt;
      .markdown-body
        h2
          a.anchor(href="#responsive-margins" id="responsive-margins" aria-hidden="true")
            include ../octicons/octicon-link.svg
          span 响应式 margins
        p 除了 mx-auto 之外的所有外边距工具类名, 可以根据每一个断点使用该公式调整: m[direction]-[breakpoint]-[spacer]. 所有的响应式样式将赋予给断点及该断点至上的断点.
      .mt-3.position-relative.clearfix.p-3.styleguide-example.border.border-gray-light
        .d-inline-block.margin-orange
          .mx-sm-2.mx-lg-4.d-inline-block.block-blue .mx-sm-2 .mx-lg-4
      .markdown-body.mb-3.position-relative
        .js-zeroclipboard-target
          pre.highlight-html.highlight
            code
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;d-inline-block margin-orange&quot;
              span.nt &gt;
              span &#xA;&nbsp;&nbsp;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;mx-sm-2 mx-lg-4 d-inline-block block-blue&quot;
              span.nt &gt;
              span &#xA;&nbsp;&nbsp;
              |    .mx-sm-2 .mx-lg-4
              span &#xA;&nbsp;&nbsp;
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;/div&gt;
      .markdown-body
        h2
          a.anchor(href="#" id="negative-margins" aria-hidden="true")
            include ../octicons/octicon-link.svg
          span 负值 margins
        p 你可以给一个元素添加一个负值外边距工具类名来实现给元素的上, 右, 下, 左添加负值外边距. 公式为: m[direction]-n[spacer]. 同样工作于响应式, 公式为: m[direction]-[breakpoint]-n[spacer].
      .markdown-body.mt-3.p-3.position-relative.border.border-gray-light
        .d-inline-block.margin-orange.p-3
          .d-inline-block.block-blue.mt-n4.mr-lg-n4 .mt-n4 .mr-lg-n6
      .markdown-body.mb-3.position-relative
        .js-zeroclipboard-target
          pre.highlight-html.highlight
            code
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;d-inline-block margin-orange p-3&quot;
              span.nt &gt;
              span &#xA;&nbsp;&nbsp;
              span.nt &lt;div
              span.na &nbsp;class=
              span.s &quot;d-inline-block block-blue mt-n4 mr-lg-n4&quot;
              span.nt &gt;
              span &#xA;
              |     .mt-n4 .mr-lg-n6
              span &#xA;&nbsp;&nbsp;
              span.nt &lt;/div&gt;
              span &#xA;
              span.nt &lt;/div&gt;
          
  include ../sidebar.pug