include ../nav.pug
.d-flex.flex-wrap.flex-lg-nowrap
  main.main-content.flex-row.flex-lg-column.mt-4.mt-lg-6.pb-6.mx-auto.px-3.md-order-1
    .clearfix
      nav(aria-label="Breadcrumb")
        ol
          li.breadcrumb-item.text-small
            a(href="/") Insight-ui
          li.breadcrumb-item.text-small
            span &nbsp;
            a(href="/support") Support
          li.breadcrumb-item.text-small.breadcrumb-item-selected &nbsp;字体设计
      h2.f00-light.border-0.pb-3.d-block.v-align-middle.mt-2 字体设计
      .markdown-body
        ul
          li
            a(href="#") 字体比例
          li
            a(href="#") 字体设计变量
              ul
                li
                  a(href="#") Font size 变量
                li
                  a(href="#") Font weight 变量
                li
                  a(href="#") Line height 变量
          li
            a(href="#") 字体设计 mixins
        h2 字体比例
        p 字体设计的比例旨在用于 Insight 的 ui. 文字大小和行高配合使用, 以便尽可能产生更合理的数字.
        p 移动设备上面的字体较小, 在&nbsp;
          code md
          span &nbsp;断点处放大, 也就是桌面设备上面字体会更大.
        table
          thead
            tr
              th Scale
              th Font size: mobile
              th Font size: desktop
              th 1.25 line height
              th 1.5 line height
          tbody
            tr
              td 00
              td 40px
              td 48px
              td 60
              td 72
            tr
              td 0
              td 32px
              td 40px
              td 50
              td 60
            tr
              td 1
              td 26px
              td 32px
              td 40
              td 48
            tr
              td 2
              td 22px
              td 24px
              td 30
              td 36
            tr
              td 3
              td 18px
              td 20px
              td 25
              td 30
            tr
              td 4
              td 16px
              td 16px
              td 20
              td 24
            tr
              td 5
              td 14px
              td 14px
              td 17.5
              td 21
            tr
              td 6
              td 12px
              td 12px
              td 15
              td 18
        p 字体设计比例被用在 字体设计工具类名 上.
        h2 字体设计变量
        h4 Font size 变量
        pre.highlight-less.highlight
          code
            span.c1
              | // Heading sizes - mobile
              | // h4&mdash;h6 remain the same size on both mobile &amp; desktop
            span &#xA;
            span.nv @h00-size-mobile
            span.p :
            span &nbsp;
            span.m 40px
            span.p ;
            span &#xA;
            span.nv @h0-size-mobile
            span.p :
            span &nbsp;
            span.m 32px
            span.p ;
            span &#xA;
            span.nv @h1-size-mobile
            span.p :
            span &nbsp;
            span.m 26px
            span.p ;
            span &#xA;
            span.nv @h2-size-mobile
            span.p :
            span &nbsp;
            span.m 22px
            span.p ;
            span &#xA;
            span.nv @h3-size-mobile
            span.p :
            span &nbsp;
            span.m 18px
            span.p ;
            span &#xA;
            span.c1
              | // Heading sizes - desktop
            span &#xA;
            span.nv @h00-size
            span.p :
            span &nbsp;
            span.m 48px
            span.p ;
            span &#xA;
            span.nv @h0-size
            span.p :
            span &nbsp;
            span.m 40px
            span.p ;
            span &#xA;
            span.nv @h1-size
            span.p :
            span &nbsp;
            span.m 32px
            span.p ;
            span &#xA;
            span.nv @h2-size
            span.p :
            span &nbsp;
            span.m 24px
            span.p ;
            span &#xA;
            span.nv @h3-size
            span.p :
            span &nbsp;
            span.m 20px
            span.p ;
            span &#xA;
            span.nv @h4-size
            span.p :
            span &nbsp;
            span.m 16px
            span.p ;
            span &#xA;
            span.nv @h5-size
            span.p :
            span &nbsp;
            span.m 14px
            span.p ;
            span &#xA;
            span.nv @h6-size
            span.p :
            span &nbsp;
            span.m 12px
            span.p ;
        h4 Font weight 变量
        pre.highlight-less.highlight
          code
            span.nv @font-weight-bold
            span.p :
            span &nbsp;
            span.m 600
            span &nbsp;
            span.o !
            span.nb important
            span.p ;
            span &#xA;
            span.nv @font-weight-light
            span.p :
            span &nbsp;
            span.m 300
            span &nbsp;
            span.o !
            span.nb important
            span.p ;
        h4 Line height 变量
        pre.highlight-less.highlight
          code
            span.nv @lh-condensed-ultra
            span.p :
            span &nbsp;
            span.m 1
            span &nbsp;
            span.o !
            span.nb important
            span.p ;
            span &#xA;
            span.nv @lh-condensed
            span.p :
            span &nbsp;
            span.m 1
            span.mi .25
            span &nbsp;
            span.o !
            span.nb important
            span.p ;
            span &#xA;
            span.nv @lh-default
            span.p :
            span &nbsp;
            span.m 1
            span.mi .5
            span &nbsp;
            span.o !
            span.nb important
            span.p ;
        h2 Typography Mixins
        p Typography mixins are available for heading styles and for our type scale. They can be used within components or custom CSS. The same styles are also available as utilities. which requires no additional CSS.
        p Heading mixins are available for h1 through to h6, this includes the font-size and font-weight. Example:
        
  include ../sidebar.pug