.bg-gray-dark
  .main-nav.d-flex.flex-justify-between.px-3.pl-md-4.py-3.box-shadow.bg-gray-dark
    .d-flex.flex-self-center.flex-lg-auto.mr-lg-2
      a.border-gray-dark.no-undeline.text-white(href="/" aria-label="Github Style Guide")
        svg.octicon.octicon-mark-github(width=28 height=28 aria-label="github-logo" viewBox="0 0 16 16" version="1.1" role="img")
          path(fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z")
      .flex-self-center
        .dropdown.js-menu-container.js-select-menu.js-transitionable
          h1.h4.text-normal.pl-3.mt-1
            button.btn-link.text-white.link-white.no-underline.js-menu-target(type=button aria-popup=true aria-expended=false) Insight-ui 
              //- div.dropdown-caret
          .dropdown-menu-content.js-menu-content(aria-expended=false)
            ul.dropdown-menu.dropdown-menu-se.mt-2.ml-3
              li
                a(href="#").dropdown-item.text-bold Insight-ui
    .d-none.d-lg-flex.flex-justify-end
      nav.flex-self-center.flex-shrink-0.text-white(aria-label="Primary")
        a.text-white.px-md-1.px-lg-2(href="#") 文档
        a.text-white.px-md-1.px-lg-2(href="#") 开始使用
        a.text-white.px-md-1.px-lg-2(href="#") 工具
        a.text-white.px-md-1.px-lg-2(href="#") 新功能
    .d-flex.flex-self-auto.flex-justify-end.col-12.col-lg-2
      .flex-self-center.flex-auto.col-12.ml-2.ml-lg-3
        form.position-relative.mx-2(accept-charset="UTF-8" autocpmplete="off" data-type="css" id="search-form" disabled)
          input.form-control.width-full.f4.f-lg-5.search-dark(type="text" placeholder="Search Insight-ui" data-hotkey="s")