.bg-gray-dark
  .main-nav.d-flex.flex-justify-between.px-3.pl-md-4.py-3.box-shadow.bg-gray-dark
    .d-flex.flex-self-center.flex-lg-auto.mr-lg-2
      a.f3.border-gray-dark.no-undeline.text-white(href="/" aria-label="Github Style Guide")
        span Insight-ui
    .d-none.d-lg-flex.flex-justify-end
      nav.flex-self-center.flex-shrink-0.text-white(aria-label="Primary")
        a.text-white.px-md-1.px-lg-2(href="#") 文档
        a.text-white.px-md-1.px-lg-2(href="#") 开始使用
        a.text-white.px-md-1.px-lg-2(href="#") 工具
        a.text-white.px-md-1.px-lg-2(href="#") 新功能
    .d-flex.flex-self-auto.flex-justify-end.col-12.col-lg-2
      .flex-self-center.flex-auto.col-12.ml-2.ml-lg-3
        form.position-relative.mx-2(accept-charset="UTF-8" autocpmplete="off" data-type="css" id="search-form" disabled)
          input.form-control.width-full.f4.f-lg-5.search-dark(type="text" placeholder="Search Insight-ui" data-hotkey="s")