nav#navigation.sidebar.flex-column.flex-justify-start.overflow-auto.border-right.bg-gray-light.pb-4
  ul.list-style-none
    li.px-4.my-4
      a(href="/support/index.html").position-relative.f4.d-block.text-gray-dark Support
      ul.pt-2.list-style-none
        li
          a(href="#").position-relative.f5.py-1.d-block 响应式断点
            span.position-absolute.right-0
                span.text-gray.tooltipped.tooltipped-nw(aria-label="待定")
                  include octicons/octicon-primitive-dot.pug
                  +octiconPrimitiveDot()(class="v-align-text-top")
        li
          a(href="#").position-relative.f5.py-1.d-block 色彩系统
            span.position-absolute.right-0
              span.text-gray.tooltipped.tooltipped-nw(aria-label="待定")
                include octicons/octicon-primitive-dot.pug
                +octiconPrimitiveDot()(class="v-align-text-top")
        li
          a(href="/support/typography.html").position-relative.f5.py-1.d-block 字体设计
            span.position-absolute.right-0
              span.text-yellow.tooltipped.tooltipped-nw(aria-label="实验中")
                include octicons/octicon-primitive-dot.pug
                +octiconPrimitiveDot()(class="v-align-text-top")
        li
          a(href="/support/spacing.html").position-relative.f5.py-1.d-block 空间
            span.position-absolute.right-0
              span.text-yellow.tooltipped.tooltipped-nw(aria-label="实验中")
                include octicons/octicon-primitive-dot.pug
                +octiconPrimitiveDot()(class="v-align-text-top")
    li.mt-4.border-bottom
    li.px-4.my-4
      a(href="/utilities/index.html").position-relative.f4.d-block.text-gray-dark Utilities(工具类名)
      ul.pt-2.list-style-none
        li
          a(href="/utilities/margin.html").position-relative.f5.py-1.d-block Margin
            span.position-absolute.right-0
              span.text-yellow.tooltipped.tooltipped-nw(aria-label="实验中")
                include octicons/octicon-primitive-dot.pug
                +octiconPrimitiveDot()(class="v-align-text-top")
