nav#navigation.sidebar.flex-column.flex-justify-start.overflow-auto.border-right.bg-gray-light.pb-4
  ul.list-style-none
    li.px-4.my-4
      a(href="/support/index.html").position-relative.f4.d-block.text-gray-dark Support
      ul.pt-2.list-style-none
        li
          a(href="#").position-relative.f5.py-1.d-block 响应式断点
            span.position-absolute.right-0
                span.text-gray.tooltipped.tooltipped-nw(aria-label="待定")
                  include octicons/octicon-primitive-dot.pug
                  +octiconPrimitiveDot()(class="v-align-text-top")
        li
          a(href="#").position-relative.f5.py-1.d-block 色彩系统
            span.position-absolute.right-0
              span.text-gray.tooltipped.tooltipped-nw(aria-label="待定")
                include octicons/octicon-primitive-dot.pug
                +octiconPrimitiveDot()(class="v-align-text-top")
        li
          a(href="#").position-relative.f5.py-1.d-block 文字
            span.position-absolute.right-0
              span.text-yellow.tooltipped.tooltipped-nw(aria-label="实验中")
                include octicons/octicon-primitive-dot.pug
                +octiconPrimitiveDot()(class="v-align-text-top")
        li
          a(href="#").position-relative.f5.py-1.d-block 间距
            span.position-absolute.right-0
              span.text-yellow.tooltipped.tooltipped-nw(aria-label="实验中")
                include octicons/octicon-primitive-dot.pug
                +octiconPrimitiveDot()(class="v-align-text-top")
